*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
log
.env

/public/assets
/public/packs
/public/packs-test

# YARD artifacts
.yardoc
_yardoc
doc/
/tdd/test2/*

/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity
